---
title: About
donotindex: yes
---


<div class="wrap-page-section page-section-stage">
	<section>
		<h1><img src="http://forhumans.co/superdry/superdry.png"></h1>
		<article>
			<h1 class="flush-top">About!</h1> {{page.dest}}
			<p>You are using SuperDry.</p>
			<p><a href="http://docs.mixture.io" class="button large">Read the Mixture documentation &raquo;</a></p>
		</article>

	</section>
</div>
<div class="wrap-page-section page-section-slideshow">
	<div class="rslides_container">
		<ul class="rslides" id="slider1">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>


<ul>
	{{#each pages}}
		<li{{#is page.dest this.dest}} class="active"{{/is}}>
			<a href="
				{{#is this.basename "index"}} / {{else}}
					{{this.filename}}
				{{/is}}
				">{{data.title}}</a> Pagedest "{{page.dest}}" This dest "{{this.dest}}" {{data.title}}
		</li>
	{{/each}}
</ul>